
.reset-cover{
    height: 100vh;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);;
}
.reset{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.reset-info{
    margin-top:10%;
}
.reset-info img{
    margin-bottom: 15%;
}
.reset-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.reset-form label{
    font-weight:600;
}
.reset-form button{
    background: #ff9b00;
    color: #fff;
    font-weight: 600;
    width: 25%;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.reset-form button:focus{
    box-shadow:none;
}
.reset-form{
    padding-left: 4rem;
}