
.reset-cover{
    padding-top: 40px;
    background: #5dabc3;
    height: 100vh;
}

.col-md-3.reset{
    background: #457f91;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.reset-info{
    margin-top:10%;
}
.reset-info img{
    margin-bottom: 15%;
}
.reset-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.reset-form label{
    font-weight:600;
}
.reset-form button:focus{
    box-shadow:none;
}
.reset-form{
    padding-left: 4rem;
}
.btn.btn-default.btn-reset{
    background: #5dabc3;
    color: #fff;
    width: 10rem;
    font-weight: 600;
    display: flex;  
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}

.btn.btn-default.btn-reset:hover{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}