.detail-review {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    height: auto;
    padding-top: 40px;
}
.detail-review{
    padding: 4%;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.detail-review-info{
    margin-top:10%;
}
.detail-review-info img{
    margin-bottom: 15%;
}
.detail-review-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.detail-review-form label{
    font-weight:600;
}
.detail-review-form button{
    background: #ff9b00;
    color: #fff;
    width: 10rem;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    justify-content: center;
}
.detail-review-form button:focus{
    box-shadow:none;
}
.form1 {
    display: flex;
    padding: 10px;
}
.btn-group-1{
    margin-left: auto;
}