.invite-cover {
    padding-top: 40px;
    background-color: #5dabc3;
    min-height: calc(100% - 80px);
    width: 100%;
    position: absolute;
}
.invite{
    height: 400px;
}
.col-md-3.invite{
    background: #40869b;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.invite-info{
    margin-top:10%;
}
.invite-info img{
    margin-bottom: 15%;
}
.invite-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.invite-form label{
    font-weight:600;
}
.invite-form button{
    background: #40869b;
    color: #fff;
    font-weight: 600;
    width: 25%;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.invite-form button:focus{
    box-shadow:none;
}
.invite-form{ padding-left: 3rem;}