
.register-cover{
    background: #5dabc3;
    height: 100vh;
}
.register{
    padding: 2rem;
}
.col-md-3.register{
    background: #468295;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.register-info{
    margin-top:10%;
}
.register-info img{
    margin-bottom: 15%;
}
.register-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.register-form label{
    font-weight:600;
}
.register-form button{
    background: #0e3476;
    color: #fff;
    font-weight: 600;
    width: 25%;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.register-form button:focus{
    box-shadow:none;
}
.register-form {
    padding-left: 3rem;
}
.btn.btn-default.register{
    background: #5dabc3;
    color: #fff;
    width: 10rem;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.btn.btn-default.register:hover{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}