.list-member-his-cover {
    padding-top: 40px;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    height: 100vh;
}
.table-wrapper {
    background: #fff;
    padding: 20px;	
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:first-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
.form2{
    display: flex;
    align-items: center;
}
.label1 {
    padding-left: 1rem;
}
.btn-create{
    margin: 0.5rem 0 0.5rem auto;
    background: #ff9b00;
    color: #fff;
    font-weight: 600;
    width: 25%;
    display: flex;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    justify-content: center;
    padding: 0.5rem 0;
}
.breadcrumb{
    text-decoration: none;
}
.list-member-history-notify{
    display: flex;
    justify-content: center;
}