.gpoint-cover {
    padding-top: 40px;
    background-color: #5dabc3;
    min-height: calc(100% - 80px);
    width: 100%;
    position: absolute;
}
.gpoint{
    height: 400px;
}
.col-md-3.gpoint{
    background: #40869b;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.gpoint-info{
    margin-top:10%;
}
.gpoint-info img{
    margin-bottom: 15%;
}
.gpoint-info h2{
    margin-bottom: 10%;
    color: #fff;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.invite-form button{
    background: #ff9b00;
    color: #fff;
    width: 25%;
    display: flex;
    margin-left: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.invite-form button:focus{
    box-shadow:none;
}
.gpoint-form{
    padding-left: 6rem;
}
.btn.btn-default.btn-gpoint{
    background: #5dabc3;
    color: #fff;
    width: 10rem;
    font-weight: 600;
    display: flex;
    margin-top: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
}
.btn.btn-default.btn-gpoint:hover{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}