.form-checkpoint{
    border-style: double;
    border-color: black;
    padding: 20px;
    margin: 20px 0 20px ;
}   
.form-detail{
    display: flex;
}
.title-checks{
    padding-right: 20px;
}